.row {
 
  @mixin clearfix;
  
  &--b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {
    &--gutters {
      padding-right: -65px;
    }
  
    &--gutters-large {
      padding-right: -100px;
    }

    &--gutters-small {
      padding-right: -45px;
    }

    &--gutters > div {
      padding-right: 65px;
    }

    &--gutters-large > div {
      padding-right: 100px;
    }

    &--gutters-small > div {
      padding-right: 45px;
    }

    &--b-margin-until-medium {
      margin-bottom: 0;
    }

    &--t-padding {
      padding-top: 80px;
    }

    &__4-medium {
      float: left;
      width: 33.33%  
    }

    &__4-medium--larger {
      width: 37%;
    }

    &__8-medium {
      float: left;
      width: 66.66%;
    }

    &__8-medium--smaller {
      width: 63%
    }

    &__6-medium {
      float: left;
      width: 50%;
    }
  }

@mixin atLarge {
    &--gutters {
      padding-right: -65px;
    }
  
    &--gutters-large {
      padding-right: -100px;
    }

    &--gutters-small {
      padding-right: -45px;
    }

    &--gutters > div {
      padding-right: 65px;
    }

    &--gutters-large > div {
      padding-right: 100px;
    }

    &--gutters-small > div {
      padding-right: 45px;
    }

    &--b-margin-until-large {
      margin-bottom: 0;
    }

    &--t-padding {
      padding-top: 80px;
    }

    &__4-large {
      float: left;
      width: 33.33%  
    }

    &__4-large--larger {
      width: 37%;
    }

    &__8-large {
      float: left;
      width: 66.66%;
    }

    &__8-large--smaller {
      width: 63%
    }

    &__6-large {
      float: left;
      width: 50%;
    }
  }


  /* Begin equal height rules */
  .flexbox &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }

  .flexbox &--equal-height-at-large {
    @mixin atLarge {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }
  /* End equal height rules */

}